.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  padding: 3px;
  border-radius: 100px;
  align-items: center;
  position: fixed;
  height: 12px;
  width: 98%;
  bottom: .5rem;
  left: 1%;
}

.progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: white;
  height: 6px;
  width: 0;
}
.error {
  background: #e0e18a !important;
}
